<h2>Delete Account</h2>
<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/routing.js"></script>
<a href="/auth/<%=currentUser.id%>" class="btn btn-danger" id="delete-user">
  Permanately Remove User?
</a>

<p>User Info:<br>Firstname: <%= result.dataValues.firstname %><br> </p>

<h1>Update Zipcode?</h1>
<p>Current zipcode is <%= result.dataValues.zipcode %></p>
<!-- user {
  dataValues:
   { id: 3,
     firstname: 'Joe',
     lastname: 'Johnson',
     username: 'Joe Johnson',
     email: 'jwjohnson@student.wts.edu',
     password: null,
     facebookID: '2018508875058852',
     facebookToken: 'EAAFmvGuMy9IBAK2ajJyrjE0VaIJjUQlL4B5L3ZBIZAxLWBHKSKvq1RJVKZCajXZAz2G0cb7NesiT3VT3rbHQXPFsyoATQzjWrWrgZC45Ydx3c4IUn720GZAqUb8aXNQfkNMfgaaZCu1SRJmyWKDfOqYGv5AZCF0anG8ZD',
     zipcode: null,
     createdAt: 2018-01-08T20:55:39.079Z,
     updatedAt: 2018-01-12T18:33:38.853Z } -->
