<h2>Welcome to LocalChat!</h2>
<br>
<h4>Login to chat with those in your zipcode</h4>
<style> body { text-align: center; }
        img { position: relative; top: 100px; }
 </style>
<img src="http://respectthelocals.com/wp-content/uploads/2013/04/rtl_logo-website-300x120.png">
