<h2>HOME</h2>
    <% if(!currentUser){ %>
      <h2>Login!</h2>
    <% } else { %>
      <h2>Working Chat?</h2>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script>
      <script type="text/javascript" src="script.js"></script>
      <body>
        <h1>Finally Up!</h1>
      </body>
    <% } %>
