<h2>Welcome to LocalChat!</h2>
<h4>Login to chat with those in your zipcode</h4>
<style>
  body { text-align: center; }
  .logo { position: relative; }
  .mapd { position: relative; top: 200px; }
  .centd { display: block; margin-right: auto; margin-left: auto; }
 </style>
<img class="logo centd" src="http://respectthelocals.com/wp-content/uploads/2013/04/rtl_logo-website-300x120.png">
<img class="mapd row text-center" src="https://s3-us-west-1.amazonaws.com/codeforamerica-cms1/icons/icon-community.png">
<p>Technology can help us grow closer.</p>
